<footer class="customcolor">
    <div class="container-fluid">
    <div class="row pl-4 pr-4">
    <div class="col-md-3">
    <h1><span class="text-primary">L</span>o<span class="text-danger">g</span>o</h1>
    <p>Bienvenue dans « Digi Café » est un café de la meilleure qualité .il unit les techniques de travail et de service les plus modernes</p>
    <p class="pt-3 pb-3">DIGITALISATION</p>
    <div class="icon">
    <i class="fa fa-facebook"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-linkedin"></i>
    </div>
    </div>
    <div class="col-md-3">
    <h3>Services</h3>
    <ul>

    <a href="#"><i class="nav-item"></i> <h6>Livraison</h6></a>
    <a href="#"><i class="te"></i><h6>réservation</h6></a>
    
    </ul>
    </div>
    <div class="col-md-3">
    <h3>Company</h3>
    <ul>
    <a href="#"><i class="nav-link"></i>Lavaza</a>
    <a href="#"><i class="nav-link"></i>Cosmitto</a>
    
    </ul>
    </div>
    </div>
    </div>
    </footer>