<div class="sidenav full-page navbar sticky-header onepage content-scroll" id="mySidenav" style="background-image: url(../assets/images/background/bg4.jpg);">
      <a href="javascript:void(0)" class="closebtn btn">&times;</a>
      <div class="dlab-sidenav-area">
        <div class="logo-header mostion"><a routerLink="/index" routerLinkActive="active"><img src="/assets/images/logo.png" width="193" height="89" alt=""></a></div>
        <div class="clearfix"></div>
        <div id="myNavbar" >
          <ul class="nav">
            <li><a routerLink="/index" routerLinkActive="active" class="nav-link">Home</a></li>
            <li><a  routerLink="/about" routerLinkActive="active" class="nav-link">about us</a></li>
            <li><a  routerLink="/menu" routerLinkActive="active" class="nav-link">menu</a></li>
            <li><a routerLink="/gallery" routerLinkActive="active"class="nav-link">gallery</a></li>
            <li><a  routerLink="/menudetail" class="nav-link"> commande</a></li>
            <li><a href="blog.html" class="nav-link">blog</a></li>
            <li><a  routerLink="/contact" routerLinkActive="active" class="nav-link">contact us</a></li>
            <li><a  routerLink="/reservation" routerLinkActive="active" class="nav-link">reservation</a></li>
          </ul>
        </div>
        <div class="footer-menu p-b10">
          <ul class="list-inline footer-social text-center m-b0">
            <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
            <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
            <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
            <li><a href="javascript:void(0);" class="fa fa-google-plus"></a></li>
          </ul>
          <p class="copyright">©Copyright 2020</p>
          <p class="copyright-text">Design With By <span>@LeMesssi</span></p>
        </div>
      </div>
    </div>