<div *ngIf="commandeContent.length==0;else elseBlock" class="alert alert-danger">
    Your cart is empty!
  </div>
  <ng-template #elseBlock>
    <button class="btn btn-outline-danger" (click)="clearCart()">
   
      Clear Cart
    </button>
    <br>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price each</th>
          <th scope="col">Total price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of commandeContent;index as i">
          <th scope="row">{{ i+1 }}</th>
          <td>{{ product.desc }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.price | currency:'TND ' }}</td>
          <td>{{ product.price * product.quantity | currency:'TND ' }}</td>
      
        </tr>
      </tbody>
      <thead class="thead-light">
        <tr>
          <th scope="col" colspan="4" class="text-right">Prix totale hors taxe: </th>
          <th scope="col">{{ totalPrice | currency:'TND ' }}</th>
        </tr>
        <tr>
          <th scope="col" colspan="4" class="text-right">Totale des taxes (20%): </th>
          <th scope="col">{{ totalPrice * TAX_RATE | currency:'TND ' }}</th>
        </tr>
        <tr>
          <th scope="col" colspan="4" class="text-right">Prix TTC : </th>
          <th scope="col">{{ totalPrice + (totalPrice * TAX_RATE) | currency:'TND ' }}</th>
        </tr>
        <tr>
          <th scope="col" colspan="4" class="text-right">  </th>
          <th scope="col">  <button class="btn btn-outline-info" (click)="insert(commandeContent.value)">Valider</button> </th>
        </tr>
      </thead>
    </table>
  </ng-template>
